doctype html
html(lang='en')
	head
		title Board
		meta(charset='utf-8')
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
		link(rel='stylesheet', href='/css/style.css', type='text/css')
	body
		.navbar.navbar-default
			.container
				.navbar-header
					.navbar-brand
						a(href="/board") Board

		.container
			block content
		script(src="/js/script.js")