doctype html
html(lang='en')
	head
		title Board
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css', type='text/css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
	body
		.navbar.navbar-default.navbar-static-top
			.container
				.navbar-header
					.navbar-brand
						a(href='/board') Board
					a.btn.btn-default.navbar-btn.btn-sm(href='/board/add')
						span.glyphicon.glyphicon-plus
						span &nbsp; New Card

		.container
			block content