a:hover {
	text-decoration: none;
}

textarea {
	resize: none;
}

.checkbox {
	margin-bottom: 0px;
}

.transparent {
	opacity: 0;
}

.media .panel {
	width: 200px;
	margin-bottom: 0px;
}

.panel-view {
	width: 170px !important;
}

.panel-form {
	width: 195px !important;
}

.form-control, .media-body {
	width: 160px;
}

.outer-panel {
	width: 240px;
}

.placeholder {
	opacity: 0.5;
}

.push-left {
	padding-left: 8px;
}

.push-right {
	padding-left: 2px;
}

#btn-filter {
	margin-top: 2px;
}

#collapse-open {
	float: right;
}

#collapse-progress {
	float: right;
}

#collapse-col {
	margin-top: 10px;
}

#empty-query {
	width: 135px;
}