a:hover {
	text-decoration: none;
}

textarea {
	resize: none;
}

#btn-filter {
	margin-top: 2px;
}

.filter-btn {
	display: none;
}

.panel {
	width: 200px;
}

.form-control, .media-body {
	width: 160px;
}

#sort {
	float: left;
}

#sort-btn {
	margin-top: 2px;
	margin-left: 4px;
}